---
import Slide from "../../../components/Slide.astro";
import Framer from "./framer/Framer.astro";
import ReactSpring from "./react-spring/ReactSpring.astro";
import VanillaJS from "./vanilla-js/VanillaJS.astro";
import VueUseMotion from "./vue-use/VueUseMotion.astro";

const title = "Librairies JavaScript";
---

<section>
	<Slide>
		<h1>{title + " "}</h1>
	</Slide>

	<Framer title={title} />
	<ReactSpring title={title} />
	<VueUseMotion title={title} />
	<VanillaJS title={title} />

	<Slide>
		<h1>{title} - recap</h1>
	</Slide>
</section>
