---
import Slide from "../../../components/Slide.astro";
import Citation from "./Citation.astro";
import FpsMeter from "./FpsMeter.astro";
import RafDemos from "./RafDemos.astro";
import RafUsage from "./RafUsage.astro";
import SpringAnimations from "./SpringAnimations.astro";

const title = "requestAnimationFrame()";
---

<Slide>
	<h1>{title + " "}</h1>
</Slide>

<Slide>
	<h1>{title + " "}</h1>
	<p>
		Usage: toute action à effectuer avant chaque frame rendue par le navigateur
	</p>
</Slide>

<RafUsage title={title} />
<FpsMeter title={title} />
<Citation title={title} />
<RafDemos title={title} />
<SpringAnimations title={title} />

<Slide>
	<h1>{title} - recap</h1>
</Slide>
