---
import CodeBlock from "../../../../components/CodeBlock.astro";
import SlideDemo from "../../../../components/SlideDemo.astro";

const { title } = Astro.props;
const subSectionTitle = "La translation";
---

<SlideDemo sectionTitle={title} subSectionTitle={subSectionTitle}>
	<p>
		<label>
			<input type="checkbox" />
			<span class="card primary">Clique !</span>
		</label>
	</p>
</SlideDemo>

<SlideDemo sectionTitle={title} subSectionTitle={subSectionTitle}>
	<p>
		<label>
			<input type="checkbox" />
			<span class="card primary">Clique !</span>
		</label>
	</p>
	<CodeBlock lang="css"
		>{
			`.demo {
  transition: margin 800ms ease-in-out;

  &:checked {
    margin-left: 300px;
  }
}`
		}</CodeBlock
	>
</SlideDemo>

<SlideDemo sectionTitle={title} subSectionTitle={subSectionTitle}>
	<div class="container">
		<p><span class="card gray inert"></span></p>
		<p>
			<label>
				<input type="checkbox" />
				<span class="card primary">Clique !</span>
			</label>
		</p>
		<p><span class="card gray inert"></span></p>
		<p><span class="card secondary inert"></span></p>
		<p><span class="card gray inert"></span></p>
		<p><span class="card gray inert"></span></p>
		<p><span class="card gray inert"></span></p>
		<p><span class="card gray inert"></span></p>
	</div>
</SlideDemo>

<style lang="scss">
	.card.primary {
		@include gradient-idle(primary);
		transition: margin 800ms var(--ease-in-out);
	}

	label {
		input:checked + .primary {
			margin-left: 15rem;

			.container & {
				margin-left: calc(8rem + 1em);
			}
		}
	}

	.container {
		display: flex;
		align-content: flex-start;
		margin-top: 30vh;
		min-height: 70vh;
		gap: 1em;
		flex-wrap: wrap;
		max-width: calc(4 * (8rem) + 3 * 1em);
	}
</style>
