---
import CodeBlock from "../../../../components/CodeBlock.astro";
import Slide from "../../../../components/Slide.astro";
import FakeDropdownMenu from "./FakeDropdownMenu.astro";
import VueTitle from "./VueTitle.astro";
import VueTransition from "./VueTransition.vue";
import VueTransitionGroup from "./VueTransitionGroup.vue";

const { title } = Astro.props;
const subSectionTitle = "Les APIs intégrées";
---

<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
	<VueTitle />
</Slide>

<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
	<VueTitle />
	<br />
	<code data-id="transition">{`<Transition />`}</code>
	<code>{`<TransitionGroup />`}</code>
</Slide>

<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
	<VueTitle />
	<code data-id="transition">{`<Transition />`}</code>
	<div class="content">
		<CodeBlock lang="HTML">
			{
				`<Transition>
  <p v-if="show">Bonjour</p>
</Transition>`
			}
		</CodeBlock>
	</div>
</Slide>

<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
	<VueTitle />
	<code data-id="transition">{`<Transition />`}</code>
	<div class="content"><FakeDropdownMenu /></div>
</Slide>

<!-- <Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
	<VueTitle />
	<code data-id="transition">{`<Transition />`}</code>
	<div class="content">
		<CodeBlock lang="HTML">
			{
				`<Transition mode="out-in">
  <SkeletonLoading v-if="state === 'loading'" />
  <Content v-else />
</Transition>`
			}
		</CodeBlock>
	</div>
</Slide>

<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
	<VueTitle />
	<code data-id="transition">{`<Transition />`}</code>
	<div class="content">
		<VueTransition client:visible />
	</div>
</Slide> -->

<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
	<VueTitle />
	<code data-id="transitiongroup">{`<TransitionGroup />`}</code>
	<div class="content">
		<CodeBlock lang="HTML">
			{
				`<TransitionGroup name="list" tag="ul">
  <li v-for="item in items" :key="item">
    {{ item }}
  </li>
</TransitionGroup>`
			}
		</CodeBlock>
	</div>
</Slide>

<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
	<VueTitle />
	<code data-id="transitiongroup">{`<TransitionGroup />`}</code>
	<div class="content p-0">
		<VueTransitionGroup client:visible />
	</div>
</Slide>

<style lang="scss">
	code {
		font-size: 2em;
	}

	.content.p-0 {
		padding: 0;
	}
</style>
