---
import Slide from "../../../../components/Slide.astro";
import AnimationGraph from "./AnimationGraph.svelte";
import AnimationStates from "./AnimationStates.astro";
import CSSAnimationRecap from "./CSSAnimationRecap.astro";
import FadeIn from "./FadeIn.astro";
import FakeDropdownMenu from "./FakeDropdownMenu.astro";
import Loaders from "./Loaders.astro";
import SVGAnimation from "./SVGAnimation.astro";
import SimpleDemo from "./SimpleDemo.astro";

const title = "Animation CSS";
---

<section>
	<Slide>
		<h1>{title + " "}</h1>
	</Slide>

	<Slide>
		<h1>{title + " "}</h1>
		<p>
			<strong>Usage:</strong> animation composée d’au moins deux états, qui <em
				>peut</em
			> être déclenchée immédiatement et qui <em>peut</em> ne jamais se terminer
		</p>
	</Slide>

	<SimpleDemo title={title} />
	<FadeIn title={title} />
	<FakeDropdownMenu title={title} />
	<Loaders title={title} />
	<SVGAnimation title={title} />
	<!-- <AnimationStates {title} /> -->

	<!-- <CSSAnimationRecap title={title} /> -->

	<!-- <Slide>
		<AnimationGraph />
	</Slide> -->
</section>
</section>
