---
interface Props {
	lang: string;
	lines?: string;
}

const { lang, lines } = Astro.props;
---

<div class="code-container">
	<span class="code-lang" data-id={`code-lang-${lang}`}>{lang}</span>
	<pre
		data-id={`code-pre-${lang}`}><code data-id={`code-code-${lang}`} class={`language-${lang}`} data-line-numbers={lines}><slot /></code></pre>
</div>

<style is:global lang="scss">
	.code-container {
		flex: 0;
		text-align: left;
		color: lightyellow;
	}

	.code-lang {
		display: inline-block;
		font-size: 1.2em;
		margin-left: 0.5em;
		opacity: 0.7;
		color: var(--font-color-strong);
	}

	.reveal .code-wrapper {
		display: flex;
		background-color: #272822;
		border-radius: 0.5em;
		max-height: 82vh;
		overflow: auto;
		line-height: 1.2;
		box-shadow: var(--shadow-lg);
		position: relative;

		& > code {
			width: fit-content;
			overflow: hidden;
			padding: 2em;

			&::-webkit-scrollbar {
				display: none; // please don't do that in a real app
			}
		}
	}
</style>
