---
import Slide from "../../components/Slide.astro";
import imgPeinture from "./images/peinture.jpeg";

const { title } = Astro.props;
const subSectionTitle = "Qu'est-ce qu'on peut animer ?";
---

<section>
	<Slide sectionTitle={title}>
		<h1>{subSectionTitle + " "}</h1>
	</Slide>

	<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
		<h3>Éléments du DOM <small>(Document Object Model)</small></h3>
		<div class="wrapper">
			<ul>
				<li class="fragment">{`<div />`}</li>
				<li class="fragment">{`<button />`}</li>
				<li class="fragment">{`<input />`}</li>
				<li class="fragment">{`<img />`}</li>
				<li class="fragment">{`   ...`}</li>
			</ul>
		</div>
	</Slide>

	<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
		<h3>Canvas</h3>
		<div class="wrapper">
			<p>{`<canvas />`}</p>
			<img class="fragment" data-src={imgPeinture} alt="" />
		</div>
	</Slide>
</section>

<style>
	h3 {
		font-size: 1.7em;
		margin-bottom: 1em;
	}
	.wrapper {
		height: 50vh !important;
		margin-bottom: -10%;
		font-size: 1.5em;
	}
	img {
		height: 30vh;
		margin-top: 0.5rem;
		border-radius: .25em;
	}
</style>
