---
import CodeBlock from "../../../../components/CodeBlock.astro";
import CodeSource from "../../../../components/CodeSource.astro";
import CodepenSource from "../../../../components/CodepenSource.astro";
import Slide from "../../../../components/Slide.astro";
import GsapSvgDemo from "./GsapSvgDemo.svelte";
import GsapTitle from "./GsapTitle.astro";
import LottieDemoCity from "./LottieDemoCity.svelte";
import LottieTitle from "./LottieTitle.astro";

const { title } = Astro.props;
---

<Slide sectionTitle={title} subSectionTitle={"Vanilla JS"}>
	<p class="headline">Retour sur les animations SVG...</p>
</Slide>

<Slide sectionTitle={title} subSectionTitle={"Vanilla JS"}>
	<GsapTitle />
	<div class="content p-0">
		<GsapSvgDemo client:visible />
	</div>
	<CodepenSource
		pseudo="Josh"
		name="GreenSock SVG Bounce Animation"
		url="https://codepen.io/joshsalazar/pen/oNGBxgv"
	/>
</Slide>

<Slide sectionTitle={title} subSectionTitle={"Vanilla JS"}>
	<LottieTitle />
</Slide>

<Slide sectionTitle={title} subSectionTitle={"Vanilla JS"}>
	<LottieTitle />
	<div class="content p-0">
		<CodeBlock lang="HTML">
			{
				`<dotlottie-player
  autoplay
  controls
  loop
  src="/animation.lottie"
  style="width: 300px"
/>`
			}
		</CodeBlock>
		<p class="fragment">
			Taille <em>(min + gzip)</em> : <strong>108.4kB</strong>
		</p>
	</div>
	<br />
</Slide>

<Slide sectionTitle={title} subSectionTitle={"Vanilla JS"}>
	<LottieTitle />
	<div class="content p-0 demo">
		<LottieDemoCity client:visible client:only />
	</div>
	<br />
	<CodeSource url="https://lottiefiles.com/39090-beautiful-city" />
</Slide>

<style>
	.content.demo {
		height: 70vh !important;
		margin-block: -15vh;
		display: flex;
		align-items: center;
	}
	p {
		margin-top: 1em;
	}
	.headline {
		font-size: 1.7em;
		margin: 0;
	}
</style>
