---
import CodeBlock from "../../components/CodeBlock.astro";
import Slide from "../../components/Slide.astro";

const title = "Pour finir";
---

<section>
	<Slide>
		<h1>{"Accessibilité" + " "}</h1>
	</Slide>

	<!-- <Slide sectionTitle={title} subSectionTitle={"Accessibilité"}>
		<h3>Réduction du mouvement</h3>
		<div class="content p-0">
			<CodeBlock lang="css">
				{
					`@media (prefers-reduced-motion: reduce) {
  /* réduire le mouvement */
}`
				}
			</CodeBlock>
		</div>
	</Slide> -->

	<Slide sectionTitle={title} subSectionTitle={"Accessibilité"} animate={false}>
		<h3>Réduction du mouvement</h3>
		<div class="content p-0">
			<CodeBlock lang="css">
				{
					`@media (prefers-reduced-motion: no-preference) {
  /* mouvement important */
}`
				}
			</CodeBlock>
		</div>
	</Slide>

	<!-- <Slide sectionTitle={title} subSectionTitle={"Accessibilité"} animate={false}>
		<h3>Réduction du mouvement</h3>
		<div class="content p-0">
			<CodeBlock lang="css">
				{
					`@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}`
				}
			</CodeBlock>
			<span class="fragment emoji">😕</span>
		</div>
	</Slide>

	<Slide sectionTitle={title} subSectionTitle={"Accessibilité"} animate={false}>
		<h3>Réduction du mouvement</h3>
		<div class="content p-0">
			<CodeBlock lang="css">
				{
					`@media (prefers-reduced-motion: no-preference) {
  .element {
    animation-name: myAwesomeAnimation;
    ...
  }
}`
				}
			</CodeBlock>
			<span class="emoji">😀</span>
		</div>
	</Slide> -->

	<Slide sectionTitle={title} subSectionTitle={"Accessibilité"} animate={false}>
		<h3>Réduction du mouvement</h3>
		<div class="content p-0">
			<CodeBlock lang="javascript">
				{
					`if (window.matchMedia('(prefers-reduced-motion: no-preference)').matches) {
  animate();
}`
				}
			</CodeBlock>
		</div>
	</Slide>

	<!-- <Slide sectionTitle={title} subSectionTitle={"Accessibilité"} animate={false}>
		<h3>Accessibilité du contenu</h3>
		<div class="content p-0">
			<CodeBlock lang="HTML" lines="|1,4,5,6">
				{
					`<canvas
  height="400"
  width="650"
  role="img"
  aria-label="Texture de Bob l'Éponge qui ondule">
</canvas>
`
				}
			</CodeBlock>
		</div>
	</Slide> -->
</section>

<style>
	.emoji {
		font-size: 2em;
		margin-block: 1em -1em;
	}
	h3 {
		margin-top: -1em;
	}
</style>
