---
import Slide from "../../components/Slide.astro";
import gifExcited from "./images/gif-excited.gif";

const title = "Pour finir";
const subSectionTitle = "Pourquoi on fait ça déjà ?";
---

<section>
	<Slide>
		<h1>{subSectionTitle + " "}</h1>
	</Slide>
	<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
		<img data-src={gifExcited} alt="homme excité" />
		<p>Tant de choses à faire !</p>
	</Slide>

	<Slide sectionTitle={title} subSectionTitle={subSectionTitle}>
		<p>Tu peux faire 1 animation, pas 15...</p>
		<p>Tu peux faire 2 animations, pas 15...</p>
		<p>Tu peux faire 3 animations à la limite, mais pas 15...</p>
		<p>...</p>
	</Slide>
</section>

<style>
	img {
		height: 45vh;
	}
	p {
		font-size: 1.3em;
		margin-top: 1em;
	}
</style>
